#whole{
  height: 100vh;
  width:100vw;
  background: rgb(48,65,242);
  background: linear-gradient(0deg, rgba(48,65,242,1) 0%, rgba(244,45,253,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -20%;
}
#table{
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 3%;;
  border-radius: 10px;
  height:70vh;
  width:35vw;
  background: rgb(50,255,22);
  background: linear-gradient(90deg, rgba(50,255,22,1) 0%, rgba(29,248,253,1) 49%, rgba(255,239,0,1) 100%);
}
table{
  /* border: 2px solid black; */
  height:70vh;
  width:35vw;
}
h1{
  font-size: 50px;
}
.icon{
  text-align: center;
  /* border: 2px solid black; */
  font-size: 55px;
  padding: 3px;
  
}